/* Базовые стили для применения системного шрифта Shoelace ко всему документу */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--sl-font-sans);
}

/* Кастомные стили приложения */
.drawer-placement-start {
    --size: 300px;
}

/* Убрать затемнение overlay для drawer */
sl-drawer::part(overlay) {
    background-color: transparent;
}